{% extends "main/layout.html" %}
{% block title %}{{ username }}{% endblock %}
{% block username %}{{ username }}{% endblock %}
{% block content %}
  <h1>Project {{ project.title }}</h1>
  <h2>Tasks</h2>
  <ul>
    {% for task in tasks %}
    <li>
      <a href="#">{{ task.task.title }}</a>
      {% if task.subtasks %}
      <ul>
        {% for subtask in task.subtasks %}
        <li>
          <a href="#">{{ subtask.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
    <li><a href="#">Add task</a></li>
  </ul>
  <div>
    <table>
      <tr>
        <td>&nbsp;</td>
      {% for d in project_span %}
        <td>{{ d }}</td> 
      {% endfor %}
      </tr>
      {% for row in graph %}
      <tr>
      <td>
        {{ row.task.title }}
      [ {{ row.offset }} ]
        {% for i in row.offset %}
          {{ i }}
        {% endfor %}
      [ {{ row.realization }} ]
      </td>
      {% for i in row.duration %}
        <td>
        {% if row.has_subtasks %}
        -------
        {% else %}
        #######
        {% endif %}
        </td>
      {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <div>
  {{ project.description }}
    </div>
  </div>
{% endblock %}
